#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.login-button {
  display: flex;
  justify-content: flex-end;
}
.menu-wrap {
  display: flex;
  justify-content: center;
  position: relative;
}
.meun-lists {
  display: flex;
  list-style-type: none;
  gap:2rem;
}
.search-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.product-lists {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:2rem;
  list-style-type: none;

}
.product-item {

}
.product-item img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}